@import url(../../../design_system/Colors.module.css);

.container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 4rem;
  background-color: white;
  box-shadow: 0 1px 10px -4px gray;
  align-items: center;
  padding-left: 2rem;
  z-index: 100;
}

.linkText {
  font-size: 1.2rem;
  font-weight: normal;
  text-decoration: none;
  border: 0px;
  margin-left: 1rem;
  margin-right: 1rem;

  color: var(--title-color);
  background-color: white;
}

.linkTextHovered {
  font-size: 1.2rem;
  font-weight: normal;
  text-decoration: none;
  border: 0px;
  margin-left: 1rem;
  margin-right: 1rem;

  color: var(--primary-color);
  background-color: white;
}
