@import url(../../../design_system/Colors.module.css);

.button {
  display: inline-block;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 3px;
  margin-top: 15px;
  margin-bottom: 15px;

  color: white;
  background-color: rgb(182, 182, 182);

  font-size: 15px;

  /* 글자 스크롤 방지 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
