@import url(../../../design_system/Colors.module.css);

.table {
  background-color: white;
  margin-right: 2rem;
  margin-top: 10px;
}
.table th {
  padding: 0px;
  text-align: center;
  font-size: medium;
  height: 50px;
}
.table thead {
  position: sticky;
  top: 4rem;
  margin-top: 10px;
  background-color: white;
}
.table td {
  padding: 0px;
  text-align: center;
  height: 45px;
}
.oddRow {
  background-color: #afd5d825;
}
.selectedRow {
  background-color: #f2a25c27;
}
