:root {
  --primary-color: #4b8ef2;
  --sub-primary-color: #d8c1af;
  --secondary-color: #5cbbf2;
  --title-color: rgb(97, 96, 96);
  --line-color: rgb(197, 195, 195);
  --pink: #f2c1b6;
  --green: #b6bf95;
}
